<div class="container">
    <h1 class="text-center">Sesiones pendientes</h1>

    <form [formGroup]="pacienteForm" (ngSubmit)="consultar()">
        <div class="mb-3 text-center row">    
            <label class="col-auto">Id del paciente:</label>
            <div class="col-auto">
                <input validar type="text" id="idPaciente" name="idPaciente" placeholder="Id paciente" class="form-control"
                formControlName="idPaciente">
            </div>
            <div class="col-auto">
                <input id="buscar-sesiones" type="submit" value="Buscar sesiones" class="btn btn-primary mb-3"/>
            </div>
        </div>
    </form>
</div>
<app-resumen-sesion
    *ngFor="let sesion of listaSesiones"
    [sesion]="sesion"
></app-resumen-sesion>
