<h1>Agendar Sesion</h1>

<form [formGroup]="sesionForm" (ngSubmit)="agendar()">
    <div class="row">    
        <div class="col-sm-2">
            <label>Id:</label>
            <input type="text" id="idPaciente" name="idPaciente" placeholder="Id paciente" class="form-control"
            formControlName="idPaciente">
        </div>
    </div>
    <div class="row">    
        <div class="col-sm-2">
            <label>Fecha:</label>
            <input type="date" id="fecha" name="fecha" placeholder="Fecha sesión" class="form-control"
            formControlName="fecha">
        </div>
    </div>
    <div class="row">    
        <div class="col-sm-2">
            <label>Hora:</label>
            <input type="number" id="hora" name="hora" placeholder="Hora sesión" class="form-control"
            formControlName="hora" min="8" max="17">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input id="agendar-sesion" type="submit" value="Agendar sesion"/>
        </div>
    </div>
    <div class="row">
        <div id="registro-mensaje" class="alert alert-danger" *ngIf="this.mostrar">{{this.mensaje}}</div>
    </div>
</form>